---
title: Project Portal
layout: page
---

<div class="posts row">
{% for post in site.current-projects %}
{% assign base = '' %}
{% assign depth = page.url | split: '/' | size | minus: 0 %}
{% if    depth <= 1 %}{% assign base = '.' %}
{% elsif depth == 2 %}{% assign base = '..' %}
{% elsif depth == 3 %}{% assign base = '../..' %}
{% elsif depth == 4 %}{% assign base = '../../..' %}
{% elsif depth == 5 %}{% assign base = '../../../..' %}
{% elsif depth == 6 %}{% assign base = '../../../../..' %}
{% elsif depth == 7 %}{% assign base = '../../../../../..' %}{% endif %}
  <div class="4u 12u$(small)">
    {% if post.type == "current" %}
    <a href="{{base}}/{{post.link}}" class="image fit uniform"><img src="//s3-us-west-2.amazonaws.com/iconeng/iconeng-img/project/{{post.image}}" alt="" /></a>
    <h3>{{post.title}}</h3>
    <p>{{post.description}}</p>

    <ul class="actions">
      <li><a href="{{base}}/{{post.link}}" class="button">More</a></li>
    </ul>


    {% else if post.type == "redirect" %}
    <a href="{{post.link}}" class="image fit uniform"><img src="//s3-us-west-2.amazonaws.com/iconeng/iconeng-img/project/{{post.image}}" alt="" /></a>
    <h3>{{post.title}}</h3>
    <p>{{post.description}}</p>
    <ul class="actions">
      <li><a href="{{post.link}}" class="button">More</a></li>
    </ul>
    
    

    {% else %}
    <a href="{{base}}{{post.url}}" class="image fit uniform"><img src="//s3-us-west-2.amazonaws.com/iconeng/iconeng-img/project/{{post.image}}" alt="" /></a>
    <h3>{{post.title}}</h3>
    <p>{{post.description}}</p>

    <ul class="actions">
      <li><a href="{{base}}{{post.url}}" class="button">More</a></li>
    </ul> 
    {% endif %}
  </div>
{% endfor %}
</div>
