<!-- Footer -->
<div id="footer">
  <h2>Get in touch</h2>
  <ul class="major-icons">
    <li>
      <h3 class="icon fa-phone major"><span class="label">Phone</span></h3>
      <p>(303) 221-0802</p>
    </li>
    <li>
      <h3 class="icon fa-map major"><span class="label">Address</span></h3>
      <p>7000 S Yosemite St, Ste 120<br />
      Centennial, CO 80112</p>
    </li>
    <li>
      <h3 class="icon fa-envelope major"><span class="label">Email</span></h3>
      <p><a href="mailto:icon@iconeng.com">icon@iconeng.com</a></p>
    </li>
  </ul>
  <ul class="joined-icons">
    <li><a href="https://www.facebook.com/ICONEng/" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
    <li><a href="https://www.linkedin.com/company/icon-engineering" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
   </ul>
  <p class="copyright">&copy; Icon Engineering, Inc. All rights reserved.</p>
</div>

<!-- GitHUB link
 <li><a href="https://github.com/iconengineering" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
-->