<!-- Scripts -->
  <script src="{{base}}/assets/js/jquery.min.js"></script>
  <script src="{{base}}/assets/js/jquery.dropotron.min.js"></script>
  <script src="{{base}}/assets/js/jquery.scrollex.min.js"></script>
  <script src="{{base}}/assets/js/skel.min.js"></script>
  <script src="{{base}}/assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="{{base}}/assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="{{base}}/assets/js/main.js"></script>

<script>
// The function actually applying the offset
function offsetAnchor() {
    if(location.hash.length !== 0) {
        window.scrollTo(window.scrollX, window.scrollY - 100);
    }
}

// This will capture hash changes while on the page
window.addEventListener("hashchange", offsetAnchor);

// This is here so that when you enter the page with a hash,
// it can provide the offset in that case too. Having a timeout
// seems necessary to allow the browser to jump to the anchor first.
window.setTimeout(offsetAnchor, 1); // The delay of 1 is arbitrary and may not always work right (although it did in my testing).
</script>
