<!-- Header -->
  <div id="header">
    <a class="logo" href="{{base}}"><img src="//s3-us-west-2.amazonaws.com/iconeng/iconeng-img/icon-logo-horizontal.png" alt="ICON Engineering, Inc."/></a>
    <nav id="nav">
      <ul>
        <li><a href="{{base}}/">Home</a></li>
        <li><a href="{{base}}/about">About ICON</a></li>
        <li><a href="{{base}}/services">Services <i class="fa fa-angle-down"></i></a>
            <ul>
              <li><a href="{{base}}/services/#stormwater-design">Stormwater</a></li>
              <li><a href="{{base}}/services/#stream-restoration">Restoration</a></li>
              <li><a href="{{base}}/services/#mitigation-master-planning">Mitigation</a></li>
              <li><a href="{{base}}/services/#floodplain-analysis">Floodplains</a></li>
              <li><a href="{{base}}/services/#roadway-design-and-multi-modal-transportation">Roadways</a></li>
              <li><a href="{{base}}/services/#parks--recreation">Parks</a></li>
              <li><a href="{{base}}/services/#gis-and-web-based-interfacing">Geospatial</a></li>
            </ul>
        </li>
        <li>
          <a href="#">Projects <i class="fa fa-angle-down"></i></a>
          <ul>
            <li><a href="{{base}}/current-projects">Current Projects</a></li>
          </ul>
        </li>
        <li><a href="{{base}}/news">News</a></li>
        <li><a href="{{base}}/careers">Careers</a></li>
        <li><a href="{{base}}/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
