<!-- Header -->
  <div id="header">
    <a class="logo" href="{{base}}/"><span style="font-weight: bold;">ICON</span> Engineering, Inc.</a>
    <nav id="nav">
      <ul>
        <li><a href="{{base}}/">Home</a></li>
        <li><a href="{{base}}/news">News</a></li>
        <li>
          <a href="#">About ICON <i class="fa fa-angle-down"></i></a>
          <ul>
            <li><a href="{{base}}/about">Our Company</a></li>
            <li><a href="{{base}}/about/management">Management</a></li>
          </ul>
        </li>
        <li><a href="{{base}}/services">Services</a></li>
        <li>
          <a href="#">Projects <i class="fa fa-angle-down"></i></a>
          <ul>
            <li><a href="{{base}}/current-projects">Current Projects</a></li>
          </ul>
        </li>
        <li><a href="{{base}}/careers">Careers</a></li>
        <li><a href="{{base}}/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
