<!-- Header -->
  <div id="header">
    <a class="logo" href="{{base}}"><img src="//s3-us-west-2.amazonaws.com/iconeng/iconeng-img/ICON_NAV BAR.jpg" alt="ICON Engineering, Inc."/></a>
    <nav id="nav">
      <ul>
        <li><a href="{{base}}/">Home</a></li>
        <li><a href="{{base}}/about">About ICON</a></li>
        <li><a href="{{base}}/services">Services</a></li>
        <li><a href="{{base}}/projects">Projects</a></li>
        <li><a href="{{base}}/news">News</a></li>
        <li><a href="{{base}}/careers">Careers</a></li>
        <li><a href="{{base}}/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
