

.staff {

  .profile {
    padding-bottom: 5em;
    text-align: center;
    line-height: 1.2em;

    .small {
      font-size: 80%;
    }

  }

}

.menu {
  li {
    padding-bottom: 1em !important;
  }
}
