<!DOCTYPE HTML>
<html>

<head>
  <title>ICON Engineering, Inc.</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="assets/css/main.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>
  <!-- Header -->
    <div id="header" class="alt">
      <a class="logo" href="index.html"><span style="font-weight: bold;">ICON</span> Engineering, Inc.</a>
      <nav id="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="news">News</a></li>
          <li><a href="about">About ICON</a></li>
          <li><a href="{{base}}/services">Services <i class="fa fa-angle-down"></i></a>
              <ul>
                <li><a href="{{base}}/services/#stormwater-design">Stormwater</a></li>
                <li><a href="{{base}}/services/#stream-restoration">Restoration</a></li>
                <li><a href="{{base}}/services/#mitigation-master-planning">Mitigation</a></li>
                <li><a href="{{base}}/services/#floodplain-analysis">Floodplains</a></li>
                <li><a href="{{base}}/services/#roadway-design-and-multi-modal-transportation">Roadways</a></li>
                <li><a href="{{base}}/services/#parks--recreation">Parks</a></li>
                <li><a href="{{base}}/services/#gis-and-web-based-interfacing">Geospatial</a></li>
              </ul>
          </li>
          <li>
            <a href="#">Projects <i class="fa fa-angle-down"></i></a>
            <ul>
              <li><a href="current-projects">Current Projects</a></li>
            </ul>
          </li>
          <li><a href="careers">Careers</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </div>

        <!-- Main -->
        <div id="main">

                {{ content }}




</body>

</html>
