<!DOCTYPE HTML>

<html>

{% include head.html %}

{% for extra_css in page.extra-css %}
<link rel="stylesheet" type="text/css" href="{{ extra_css }}"/>
{% endfor %}

<body>

      {% include header.html %}

        <!-- Main -->
        <div id="main">

                <!-- Content -->
                <header>
                  <h1>{{ page.title }}</h1>
                </header>

                <section id="content" class="wrapper">


                  {% if page.image %}
                	<span class="image main"><img src="{{base}}/{{page.image}}" alt="" /></span>
                  {% endif %}

                {{ content }}

              </section>
            </div>


      {% include contact.html %}
      {% include footer.html %}

      {% for extra_js in page.extra-js %}
      <script src="{{ extra_js }}"></script>
      {% endfor %}

</body>

</html>
