<!DOCTYPE HTML>

<html>

{% include head-alt.html %}

<body>

      {% include header.html %}

        <!-- Main -->
        <div id="main">

                <!-- Content -->
                <header>
                  <h1>{{ page.title }}</h1>
                </header>

                <section id="content" class="wrapper">


                  {% if page.image %}
                	<span class="image main"><img src="//s3-us-west-2.amazonaws.com/iconeng/iconeng-img/project/{{page.image}}" alt="" /></span>
                  {% endif %}

                {{ content }}

              </section>
            </div>

            <div id="footer">
              <p class="copyright">&copy; Icon Engineering, Inc. All rights reserved.</p>
            </div>

      {% include footer.html %}

</body>

</html>
